/* RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}
/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    color: whitesmoke;
    height: 40px;
}
.header-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.recording{
    position: relative;
    background-color:#cecece;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.point{
    position: absolute;
    background-color: red;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 38%;
    bottom: 38%;
    transform: translate(-38% -38%);
}
.fa-shield{
    color: #67d669;
}
/* MAIN */
main{
    height: calc(100vh - 100px);
    overflow-y: auto;
}
.main-picture{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%; 
}
.picture{
    position: relative;
    width: calc(100% / 6 - 10px);
    border-radius: 10px;
    margin: 3px;
    overflow: hidden;
}
.picture::before{
    content: "";
    display: block;
    padding-bottom: 56.25% ;
}
.picture-inner{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(https://picsum.photos/200/300);
    background-size: cover;
    background-position: center;
}
.mic{
    position: absolute;
    left: 0;
    bottom: 0;
    color: whitesmoke;
    padding: 5px 8px;
    background-color: #374146;
    border-radius: 5px;
    margin-bottom: 3px;
    margin-left: 3px;
}
.fa-microphone-lines-slash{
    color: red;
}
/* FOOTER */
footer{
    display: flex;
    justify-content: space-around;
    background-color:#1b1b1b;
    height: 60px;
}

.footer-left, .footer-mid, .footer-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.fa-angle-up{
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 10px;
    color:#cecece;
}
.fa-3, .fa-6{
    font-size: 9px ;
}
/* BUTTONS */
button{
    position: relative;
    background-color: transparent;
    border: none;
    color:#cecece;
    text-align: center;
    cursor: pointer;
}
.btn-green > button{
    color:#67d669;
}
.btn-green .fa-angle-up{
    color:#67d669;
}
.btn-red > button{
    background-color: red;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}