/* RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}
/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    color: whitesmoke;
}
.header-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.recording{
    position: relative;
    background-color:#cecece ;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.point{
    position: absolute;
    background-color: red;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 38%;
    bottom: 38%;
    transform: translate(-38% -38%);
}
.fa-shield{
    color: #67d669;
}
/* MAIN */
.main-picture{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 40px;
    width: 1440px;
}
.picture{
    position: relative;
    width: 230px;
    height: 150px;
    border-radius: 10px;
    background-image: url(https://picsum.photos/200/300);
    margin: 3px 3px;
}
.mic{
    position: absolute;
    left: 0;
    bottom: 0;
    color: whitesmoke;
    padding: 5px 8px;
    background-color: #374146;
    border-radius: 5px;
    margin-bottom: 3px;
    margin-left: 3px;
}
.fa-microphone-lines-slash{
    color: red;
}